<header class="nav_bav" [ngStyle]="{'sticky': carouselRouter}">
  <div class="container">
    <div class="nav_container">
      <div class="responsive_text">
        <h3>
          <span routerLink="/preview">Animated</span> gallery</h3>
      </div>
      <nav class="navigation_container">
        <ul class="list">
          <li>
            <a routerLink="/preview" routerLinkActive="activeLink">HOME</a>
          </li>
          <li>
            <a routerLink="/sign/signin" routerLinkActive="activeLink">SIGN IN</a>
          </li>
          <li>
            <a routerLink="/sign/signup" routerLinkActive="activeLink">SIGN UP</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
