<section class="section-container">
  <section class="carousel-section">
    <div class="carousel-container">
      <div class="carousel-main-image">
        <div>
          <div class="carousel-main-container" [ngStyle]="{'margin-left': (0 - imgToPreview * 1200) + (bodyWidth - 1200)/2  + 'px'}">
            <div *ngFor="let img of images; index as i; trackBy i">
              <div class="carousel-preview-image" [ngStyle]="{'background-image':'url(' + img.src.large + ')', 'opacity': imgToPreview == i ? '1' : '0'}">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-actions-container">
          <span class="carousel-prev" (click)="showPrevImage()" [ngClass]="{'fadeArrow' : leftDisabled }">❮</span>
          <span class="carousel-next" (click)="!disabled && showNextImage()" [ngClass]="{'fadeArrow' : rightDisabled }">❯</span>
        </div>
        <div class="carousel-caption-container">
          <p class="carousel-caption-text">{{currentSection}}</p>
          <div class="carousel-count">
            <span>{{imgToPreview + 1}}</span>
          </div>
          <div class="clipboard-container">
            <p *ngIf="!copiedSuccessfully" (click)="copyToClipboard()" class="clipboard-copy-button">Copy image link</p>
            <p *ngIf="copiedSuccessfully" class="clipboard-success-message">Added to the clipboard!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-bottomt-slider">
      <div *ngFor="let image of images; index as i; trackBy i" class="carousel-bottom-item-container" [ngClass]="{'chosen' : i == imgToPreview }"
        (click)="showChosenItem(i)">
        <div class="carousel-bottom-item" [ngStyle]="{'background-image':'url(' + image.src.large + ')'}"></div>
      </div>
    </div>
  </section>
</section>
