<section class="signin-section">
  <div class="signin-container">
    <div class="signin-header-container">
      <h2 class="signin-header"></h2>
    </div>
    <div class="signin-form-container">
      <form class="signin-form">
        <div class="signin-email-holder">
          <input id="signin-email" type="text" class="signin-email-input">
          <label class="signin-email-label" for="signin-email"></label>
        </div>
        <div class="signin-password-holder">
          <input id="signin-password" type="text" class="signin-password-input">
          <label class="signin-password-label" for="signin-password"></label>
        </div>
        <div class="signin-password-confirm-holder">
          <input id="signin-password-confirm" type="text" class="signin-password-confirm-input">
          <label class="signin-password-confirm-label" for="signin-password-confirm"></label>
        </div>
        <div class="signin-submit-holder">
          <input class="signin-submit-button" type="submit" value="Sign in">
        </div>
      </form>
    </div>
  </div>
</section>
