<section class="signup-section">
  <div class="signup-container">
    <div class="signup-header-container">
      <h2 class="signup-header">Sign Up</h2>
    </div>
    <div class="signup-form-container">
      <form class="signup-form">
        <div class="signup-email-holder">
          <input id="signup-email" [(ngModel)]="email" name="email" maxlength="40" type="text" placeholder="&nbsp;" class="signup-email-input">
          <label class="signup-email-label" for="signup-email">Email</label>
        </div>
        <div class="signup-password-holder">
          <input id="signup-password" maxlength="30" name="password" [(ngModel)]="password" #innerPassword placeholder="&nbsp;" type="password" class="signup-password-input">
          <label class="signup-password-label" for="signup-password">Password</label>
          <svg class="password-show-btn" (click)="innerPassword.type = innerPassword.type == 'text' ? 'password' : 'text'">
            <use style="pointer-events: none" [attr.xlink:href]="innerPassword.type == 'text' ? 'assets/img/symbol-defs.svg#icon-eye' : 'assets/img/symbol-defs.svg#icon-eye-blocked'"></use>
          </svg>
        </div>
        <div class="signup-password-confirm-holder">
          <input id="signup-password-confirm" [(ngModel)]="confirm" name="confirm" maxlength="30" #innerConfirm placeholder="&nbsp;" type="password" class="signup-password-confirm-input">
          <label class="signup-password-confirm-label" for="signup-password-confirm">Confirm password</label>
          <svg class="password-show-btn" (click)="innerConfirm.type = innerConfirm.type == 'text' ? 'password' : 'text'">
            <use style="pointer-events: none" [attr.xlink:href]="innerConfirm.type == 'text' ? 'assets/img/symbol-defs.svg#icon-eye' : 'assets/img/symbol-defs.svg#icon-eye-blocked'"></use>
          </svg>
        </div>
        <label class="signup-confirm-action"> I am not a robot
          <input type="checkbox" [(ngModel)]="botCheck" name="botcheck" checked="checked" class="signup-notbot-confirm">
          <span class="signup-notbot-confirm-checkmark"></span>
        </label>
        <div class="signup-actions">
          <div class="signup-submit-holder">
            <input (click)="checking()" class="signup-submit-button" type="submit" value="Sign up">
          </div>
          <div class="go-signin-button-holder">
            <input class="go-signin-button" routerLink="/sign/signin" type="submit" value="Sign in">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
