@keyframes first {
  from {
    margin-left: -70rem;
    opacity: 0;
    letter-spacing: 8rem;
    color: #1E90FF;
  }
  to {
    margin-left: 0rem;
    opacity: 1;
    color: red;
    letter-spacing: 0rem;
  }
}

@keyframes second {
  from {
    padding-left: 50rem;
    opacity: 0;
    color: #1E90FF;
  }
  to {
    padding-left: 0rem;
    opacity: 1;
    color: red;
  }
}

@keyframes third {
  from {
    margin-left: -30rem;
    opacity: 0;
    color: #1E90FF;
  }
  to {
    margin-left: 0rem;
    opacity: 1;
    color: red;
  }
}

@keyframes falling {
  0% {
    transform: rotateZ(0deg)
  }
  50% {
    transform: rotateZ(20deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

@keyframes uprising {
  0% {
    transform: rotate3d(0);
  }
  50% {
    transform: rotate3d(2, -1, -1, -1turn);
  }
  100% {
    transform: rotate3d(0);
  }
}

@keyframes fullFall {
  0% {
    transform: rotateY(0deg)
  }
  50% {
    transform: rotateY(-180deg)
  }
  100% {
    transform: rotateY(0deg)
  }
}
