.gallery-section {
    background-color: inherit;
    height: 100vh;
}

.gallery-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
}
.choose-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-section > div {
    font-size: 3rem;
    width: 22rem;
    color: #1E90FF;
    text-align: center;
    cursor: pointer;
    border: 2px solid;
    border-radius: 15px;
    transition: background-color 1s;
}

.choose-section > div:hover {    
    background-color: #ccc;

    box-shadow: 0px 1px 4px 1px #1e90ff;
}

.gallery-heading h2 {
    color: #1E90FF;
    font-weight: 400;
    text-shadow: 2px 4px 2px #ccc;
    font-size: 6rem;
    padding: 2rem;
}

.gallery-folder {
    display: flex;
    justify-content: space-between;
}