.gallery-section {
    background-color: inherit;
    height: 100vh;
}

.gallery-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
}
.choose-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-section > div {
    font-size: 3rem;
    text-decoration: underline;
    color: #1E90FF;
    cursor: pointer;
}

.choose-section > div:hover {
    color: rgba(30, 143, 255, 0.562);
}

.gallery-heading h2 {
    color: #1E90FF;
    font-weight: 400;
    text-shadow: 2px 4px 2px #ccc;
    font-size: 6rem;
    padding: 2rem;
}

.gallery-folder {
    display: flex;
    justify-content: space-between;
}