.gallery-section {
    background-color: inherit;
    height: 100vh;
}

.gallery-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
}

.gallery-heading h2 {
    color: #1E90FF;
    font-weight: 400;
    text-shadow: 2px 4px 2px #ccc;
    font-size: 6rem;
    padding: 2rem;
}

.gallery-folder {
    display: flex;
    justify-content: space-between;
}